* {
  font-family: Tahoma, Geneva, Helvetica, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  overflow: visible;
}

code, pre {
  font-family: Monaco, "Courier New", monospace;
}
code {
  color: rgba(0,0,0,.9);
  padding: 0px 2px;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 0.5em;
  margin: 0 0 0.5em;
  font-size: 75%;
  border: 1px solid #ccc;
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: normal;
}

a {
  text-decoration: none;
}

a:link {
  color: #0022EE;
}
a:visited {
  color: #000099;
}
a:hover {
  color: #0066FF;
  text-decoration: underline;
}

#main {
  margin: 0;
  margin-top: 10px;
  width: 700px;
  padding: 0px 0px 50px 180px;
  min-height: 100%;
  margin-bottom: -50px;
}

#main h1 {
  margin: 10px 0px 10px;
}

#main h2 {
  margin: 20px 0px 15px;
}

#main h3 {
  margin: 20px 0px 15px;
}

#main h4 {
  margin: 20px 0px 15px;
}

#main h5 {
  margin: 15px 0px 10px;
}

#main blockquote {
  margin: 30px 10px;
  padding: 0.5em;
  border: 1px solid #000;
  background-color: #E5E4E2; 
  width: 70%;
}

#main p {
  margin: 20px 0px;
  font-size: 15px;
  line-height: 20px;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 4;
  -webkit-hyphenate-limit-chars: 9 4 4;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 6%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 9 4 4;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 6%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 9 4 4;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 6%;

  hyphens: auto;
  hyphenate-limit-chars: 9 4 4;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 6%;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 18px;
}

#main ul {
  list-style-type: disc;
}
#main ul.a {
  list-style-type: circle;
}
#main ul.b {
  list-style-type: square;
}
#main ul.two-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  columns: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30 pxl;
  column-gap: 30 px;
  list-style-position: inside;
}
#main ul.three-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  columns: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20 pxl;
  column-gap: 20 px;
  list-style-type: none;
}


#main dl {
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;
  padding: 0.5em;
}

#main dt {
  font-weight: bold;
}

#main dd {
  margin: 1.0em;
}

#main .images {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
}



table.methodtable, thead.methodtable, tbody.methodtable {
  border: 1px solid black;
  border-collapse: collapse;
}
table.methodtable tr, th, td {
  border: 1px solid black;
}
table.methodtable tr:hover {
  background-color: #f5f5f5;
}
table.methodtable caption {
  caption-side: top;
  text-align: left;
}


#fancytable {
  border-collapse: collapse;
}
#fancytable td, #fancytable th {
  border: 1px solid #A9A9A9;
  padding: 3px 7px 2px 7px;
}
#fancytable th {
  text-align: left;
  background-color:#696969;
  color:white;
}
#fancytable tr {
  background-color:White;
}
#fancytable tr.alt1 td {
  background-color:#DCDCDC;
}
#fancytable tr.alt2 td {
  background-color:#C0C0C0;
}


table.borderless th, tr, td {
  border-collapse: collapse;
  border: 0px;
}

#sidebar {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 150px;
  padding: 10px 15px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
  display: inline;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  letter-spacing: 1px;
  line-height: 120%;
}

#sidebar ul {
  list-style-type: none;
  margin: 5px 0 15px;
}

#sidebar li {
  font-size: 13px;
  line-height: 22px;
}

#sidebar a:hover {
  color: $text-color-emph;
  background-color: LightGray;
}

.menu-wrapper {
  position: relative;
  top: 10px;
  right: 80px;
  position: fixed;
}

.search-wrapper {
  position: relative;
  width: 40px;
  height: 33px;
  margin: 0 auto;
  top: 10px;
  right: 20px;
  position: fixed;
}
.search {
  position: relative;
  width: 38px;
  margin: 0 auto;
  padding: 4px 0;
  text-align: center;
}
.search__circle {
  width: 20px;
  height: 20px;
  border: 5px solid #333;
  border-radius: 20px;
}
.search__rectangle {
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 9px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  border: 3px solid #333;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}



#search-box {
  .algolia-docsearch-suggestion--category-header {
    color: $search-results-l0-fg-color;
  }

  .algolia-docsearch-suggestion--title {
    color: $search-results-l1-fg-color;
  }

  .algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight,
  .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    color: $search-results-higlight-fg-color;
    background-color: $search-results-higlight-bg-color;
    box-shadow: none;
  }

  .ds-cursor .algolia-docsearch-suggestion--content {
    background-color: $search-results-selection-bg-color;
  }
}


.active li:active {
  color: $text-color-emph;
  background-color: LightGray;
}


#copyright p {
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  letter-spacing: 0px;
  margin-top: 2px;
}
#copyright img {
  border-width: 0px;
  float:left; 
  margin: 5px 20px 5px 5px;
}

footer {
  position: static;
  bottom: 0;
  width: 700px;
  border:1px solid gray;
  height: 42px;
  margin-left: 180px;
}

